/* HEADER */
.headbar{
    display: flex;
    position: sticky;
    border-bottom: 2px solid black;
    max-width: 1200px;
    width: 100%;
    height: 70px;
    margin:0px auto;

}

.b1{
    position: relative;
    width: 300px;
    margin:10px auto;
    height: 50px;

}
.b2{
    width: 600px;
    margin:10px auto;
    height: 50px;

}


.logo{
    border-radius: 100px;
    box-shadow: 0px 0px 12px black;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.title{
    font-weight: bold;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    line-height: 20px;
    position: absolute;
    top: 3px;
    left: 60px;
}

.navbar {

    position: absolute;

}
.navbar ul {
    list-style: none;
    display: inline;
    margin: 0px auto;

}
.navbar ul li {
    margin-right: 10px;
    display: inline;


}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
    transition: color 0.5s;
}

.navbar ul li a:hover{
    color:darkblue;
}

/* NAVBAR PHONE */
#menulogo{
    width: 20px;
}
.navbut{
    display: none;
    background:none;
    border: 1px solid gray;
    border-radius: 10px;
}

.navbarphone{
    text-align: center;
}

.navbarphone ul{
   list-style: none;

    
    
}
.navbarphone ul li{
    margin:10px auto;

 }

 .navbarphone ul li a{
    text-decoration: none;
    color: black;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: bold;
    transition: color 0.5s;
 }

 .navbarphone ul li a:hover{
    color:darkblue;
}

#myDIV{
    display: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(233, 233, 233, 0.479);
}

/* BODY */
.wel{
    display: block;
    max-width: 1200px;
    width: 100%;
    margin:20px auto;
    text-align: center;
}




.wel .text #bsmillah{
    font-weight: bold;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    width: 800px;
    margin: 0px auto;
}

.wel .text #welcome{
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    width: 800px;
    margin: 0px auto;
}

.con{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin:20px auto;
}

.c1{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top:100px;
    max-width: 300px;
    width: 100%;
    margin:10px auto;
    height: 300px;
    text-shadow: 0px 0px 5px gray;
    
}
.c1 span{
        color: darkblue;
        transition: color 0.5s;
}
.c1 span:hover{
    color: aqua;
}



.c3{
    max-width:500px;
    width: 100%;
    margin:11px auto;
    height: 300px;
}

#myimg{
    border-bottom-left-radius:100px ;
    border-bottom-right-radius:100px ;
    border-top-left-radius:100px ;
    margin-left: 200px;
    object-fit: cover;
    max-width: 600px;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 12px black;
    transition: box-shadow 0.5s;
}

#myimg:hover{
    box-shadow: 0px 0px 22px blue;
    

}

/* WEBSITELISTS */

.websites{
    display :block;
    text-align: center;
}
.websites .weblist{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    margin-inline: auto;
}
.websites .webtitle{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    margin-inline: auto;
    
}
.websites .liner{
    margin-block: 10px;
border-bottom: 1px solid black;
max-width: 1000px;
width: 100%;
    margin-inline: auto;
    
}
.websites .w{
    width: 400px;
    margin-inline: auto;
}

.websites .w #description{
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.websites .w img{
    width: 400px;
    margin-inline: auto;
}



/* SOCIALBAR */
.socialbar{
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.social{
    background:none;
    border: none;
}

.socialimage{
    border-radius: 15px;
    width: 40px;
    transition: width 0.5s;
}
.socialimage:hover{
    box-shadow: 0px 0px  12px black;
    width: 50px;
}

/* FOOTER */
.footbar{
    border-top: 2px solid black;
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 100px;
    margin:0px auto;
    text-align: center;

}
.f1{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    position: relative;
    width: 300px;
    margin:20px auto;
    height: 50px;
    padding: 10px;
}
.f2{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    width: 600px;
    margin:10px auto;
    height: 50px;
    padding: 10px;
}


/* PHONE */

@media only screen and (max-width:767px){

/* HEADER */
.headbar{

    height: 70px;


}
.b2{
    width: 50px;
}
.navbar{
    visibility: hidden;
}
.navbut{
    display: block;
    padding: 10px;
    width: 50px;
}
.con{
    display: block;
}
.websites .weblist{
    display: grid;
    grid-template-columns: auto;

}

.f1{
font-size: 14px;
}
.f2{
font-size: 10px;

}
#myimg{
    margin-left: 120px;
}
}